$day-width: 100px;
$day-heigth: 100px;
$padding: 10px;
$gap: 1px;
$border: 1px;
$week-width: ($day-width + $gap) * 7 - $gap;

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  padding: $padding;

  width: $week-width;
  text-align: center;

  &__day {
    box-sizing: border-box;
    display: block;
    height: $day-heigth;
    width: $day-width;
    background-color: #eee;
    border: $border solid black;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      transform: translateY(-20px);
      background-color: #ffbfcb;
    }
  }

  @for $number from 1 through 31 {
    &__day--#{$number}::before {
      content: '#{$number}';
      font-family: Arial, sans-serif;
      font-size: 30px;
      line-height: $day-heigth - $border * 2;
    }
  }

  $days-of-week: mon, tue, wed, thu, fri, sat, sun;
  $i: 0;

  @each $day-of-week in $days-of-week {
    &--start-day-#{$day-of-week} {
      .calendar__day--1 {
        margin-left: ($day-width + $gap) * $i;
      }
    }

    $i: $i + 1;
  }

  @for $last-day from 28 through 31 {
    &--month-length-#{$last-day} {
      .calendar__day:nth-child(n + #{$last-day + 1}) {
        display: none;
      }
    }
  }
}
